{% extends 'base.html.twig' %}

{% block title %}Recherche des lieux!{% endblock %}

{% block body %}
<div class="container">
{% for place in places %}
<ul>
<li>{{place.name}}</li>
<li>{{place.adress}}</li>
<li>{{place.schedule}}</li>
<li>{{place.complementinfo}}</li>
</ul>
{% endfor %}
</div>
{% endblock %}
